

/* Content area should grow to push footer down */
.main-container {
  flex: 1 0 auto; /* This makes it grow to fill available space */
  display: flex;
  flex-direction: column;
  width: 100%;
}









/* Content Styles */
.content {
  
  width: 70%;
  margin: 20px auto;
  margin-top: 25%;
  background-color: #000000;
  color: white;
  border-radius: 3vw;
  padding-top: 1%;
  padding-bottom : 1%;
}
.content p {
  align-items: center;
  display: flex;
  flex-direction:column; /* Default to column for mobile */
  color: white;
  animation: appear linear;
  animation-duration: 1s;
}


/* Media Queries for Tablet and Desktop */
@media screen and (min-width: 768px) {

  .content {
    flex-direction: row;
    margin-top: 15%;
    width: 75%;
    padding-top: 1%;
    padding-bottom : 1%;
  }

}

/* For extra large screens */
@media screen and (min-width: 1200px) {

  .content {
    width: 60%;
    margin-top: 10%;
    border-radius: 2vw;
    padding-top: 1.5%;
    padding-bottom : 1.5%;

  }



}
